.recipe-details {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.recipe-details .top {
    display: flex;
    gap: 30px;
}

.recipe-details .top .recipe-img {
    flex: 5;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.recipe-details .top .recipe-img img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}

.recipe-details .top .recipe-content {
    flex: 7;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: green;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.recipe-details .top .recipe-content .recipe-name-user {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.recipe-details .top .recipe-content .recipe-name-user h2 {
    font-weight: 600;
}

.recipe-details .top .recipe-content .ingredients {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

.recipe-details .top .recipe-content .ingredients h3 {
    font-weight: 500;
}

.recipe-details .top .recipe-content .ingredients ul {
    display: grid;
    gap: .625rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
}

.recipe-details .bottom {
    display: flex;
    gap: 1.875rem;
}

.recipe-details .bottom .comments {
    flex: 8.5;
    padding: 20px;
    background-color: red;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.recipe-details .bottom .comments .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .625rem;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.recipe-details .bottom .comments .head h4 {
    font-size: 1.125rem;
}

.recipe-details .bottom .comments .head .create-comment button {
    padding: 8px 15px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.recipe-details .bottom .comments .comment-form {
    background-color: green;
    width: 60%;
    padding: .625rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

.recipe-details .bottom .comments .comment-form textarea {
    width: 100%;
    height: 6.25rem;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.recipe-details .bottom .comments .comment-form .close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -15px;
    right: -15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 9;
    cursor: pointer;
}

.recipe-details .bottom .comments .comments-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.recipe-details .bottom .comments .comments-content .comment {
    background-color: aqua;
    padding: .625rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.recipe-details .bottom .bottom-right {
    flex: 3.5;
    padding: 20px;
    border-radius: 10px;
    background-color: aqua;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    height: fit-content;
}

.recipe-details .bottom .bottom-right button {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.125rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}