.recipe-details {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.recipe-details .top {
    display: flex;
    gap: 30px;
}

.recipe-details .top .recipe-img {
    flex: 5;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
}

.recipe-details .top .recipe-img img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    object-fit: cover;
}

.recipe-details .top .recipe-content {
    flex: 7;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--black-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
}

.recipe-details .top .recipe-content .recipe-name-user {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
}

.recipe-details .top .recipe-content .recipe-name-user h2 {
    font-weight: 600;
}

.recipe-details .top .recipe-content .ingredients {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

.recipe-details .top .recipe-content .ingredients h3 {
    font-weight: 500;
}

.recipe-details .top .recipe-content .ingredients ul {
    display: grid;
    gap: .625rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
    list-style: var(--main-color);
}

.recipe-details .top .recipe-content .ingredients li::before {
    color: var(--main-color);
}

.recipe-details .bottom {
    display: flex;
    gap: 1.875rem;
}

.recipe-details .bottom .comments {
    flex: 8.5;
    padding: 20px;
    background-color: var(--white-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
}

.recipe-details .bottom .comments .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .625rem;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.recipe-details .bottom .comments .head h4 {
    font-size: 1.125rem;
}

.recipe-details .bottom .comments .head .create-comment button {
    padding: 10px 15px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--main-color);
    color: var(--white-color);
}

.recipe-details .bottom .comments .comments-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.recipe-details .bottom .comments .comments-content .comment {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: .625rem;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.recipe-details .bottom .bottom-right {
    flex: 3.5;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--white-color);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    height: fit-content;
    box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 12px 1px rgba(0,0,0,0.75);
}

.recipe-details .bottom .bottom-right button {
    padding: 12px;
    border: none;
    outline: none;
    font-size: 1.125rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--black-color);
    color: var(--white-color);
}

@media (max-width: 1000px) {
    
    .recipe-details .bottom {
        flex-direction: column-reverse;
    }
}

@media (max-width: 900px) {
    
    .recipe-details .top {
        flex-direction: column;
    }
}