.navbar {
    background-color: var(--white-color);
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .logo {
    margin-bottom: 40px;
    color: var(--main-color);
}

.navbar .mid-icons {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.navbar .logout {
    margin-top: auto;
}

.navbar .logout .icon > * {
    cursor: pointer;
}

.navbar .icon {
    cursor: pointer;
}

.navbar .icon.active {
    color: var(--main-color);
}

.navbar .icon.active-home {
    color: var(--main-color);
}

.navbar a {
    color: unset;
}