.home .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .top h1 {
    font-weight: 500;
}

.home .top .search {
    display: flex;
    gap: 10px;
    width: 300px;
    padding: 8px;
    border-radius: 7px;
    background-color: var(--black-color);
    color: var(--white-color);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}   

.home .top .search input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white-color);
    font-size: 1rem;
}

.home .top .search input::placeholder {
    color: var(--white-color);
}

.home h2 {
    font-weight: 400;
    margin: 40px 0 20px;
}

.home .recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
    margin: auto;
}

@media (max-width: 1300px) {
    
    .home .recipes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    
    .home .recipes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 770px) {
    
    .home .recipes {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 700px) {
    
    .home .top {
        flex-direction: column;
        align-items: start;
        gap: .625rem;
    }
}