.liked-recipes h1 {
    font-weight: 500;
}

.liked-recipes h2 {
    font-weight: 400;
    margin: 40px 0 20px;
}

.liked-recipes .recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
}

@media (max-width: 1300px) {
    
    .liked-recipes .recipes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    
    .liked-recipes .recipes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 770px) {
    
    .liked-recipes .recipes {
        grid-template-columns: repeat(1, 1fr);
    }
}